<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snackpub.core.redis.aop.db.mapper.WebLogMapper">
  <resultMap id="BaseResultMap" type="com.snackpub.core.redis.aop.db.model.WebLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="request" jdbcType="VARCHAR" property="request" />
    <result column="response" jdbcType="VARCHAR" property="response" />
    <result column="error" jdbcType="TINYINT" property="error" />
    <result column="taketime" jdbcType="BIGINT" property="taketime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>



  <insert id="insert" parameterType="com.snackpub.core.redis.aop.db.model.WebLog">
    insert into t_log (id, operation_name, request, 
      response, error, taketime, 
      create_time, stack)
    values (#{id,jdbcType=INTEGER}, #{operationName,jdbcType=VARCHAR}, #{request,jdbcType=VARCHAR}, 
      #{response,jdbcType=VARCHAR}, #{error,jdbcType=TINYINT}, #{taketime,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{stack,jdbcType=LONGVARCHAR})
  </insert>
</mapper>